@using EddyHomePage.Models;

@model EddyHomePage.Models.Members

@{
    ViewBag.Title = "Entry";
}

@section scripts {
    <script>
        $(document).ready(function() {
            var result = '@ViewBag.Result';
            if (result == 'OK') {
                alert("정상적으로 저장되었습니다.");
            }
            else if (result == 'FAIL') {
                alert("저장작업을 실패하였습니다.");
            }
            //else if (result == "") {

            //}
            //else {
            //    alert("에러: " + result);
            //}
        });

        function fnDeleteConfirm() {
            if (confirm("삭제하시겠습니까?") == true) {
                location.href = "/Member/Delete?memberid=" + $("#MemberID").val();
            } else {
                return false;
            }
        }
    </script>
}

<div id="feedback" class="inner-content">

    <section id="page-title" class="inner-section">
        <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">Edit</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Hard-working person on the way to the success...</h5>
            <p class="small fontcolor-medium">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales nulla.
            </p>
        </div>
    </section>

    <!-- Feedback Block -->
    <section class="inner-section feedback feedback-light">

        <div class="container-fluid nopadding">

            <div class="row">

                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                    <div class="dividewhite2"></div>
                    <div id="form-messages"></div>
                    <form method="post" action="@Url.Action("Edit", "Member")" class="wpcf7-form">
                        <div class="field">
                            @Html.TextBoxFor(m => m.MemberID, new { placeholder = "아이디를 입력하세요" })
                        </div>

                        <div class="field">
                            @Html.PasswordFor(m => m.MemberPWD, new { placeholder = "암호를 입력하세요" })
                        </div>

                        <div class="field">
                            @Html.TextBoxFor(m => m.MemberName, new { placeholder = "이름을 입력하세요" })
                        </div>

                        <div class="field">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "이메일을 입력하세요" })
                        </div>

                        <div class="field">
                            @Html.TextBoxFor(m => m.Telephone, new { placeholder = "전화번호를 입력하세요" })
                        </div>

                        <div class="dividewhite2"></div>

                        <div class="field text-center">
                            <button id="btnSave" type="submit" class="btn btn-lg btn-lgr-str" onclick="return fnSaveCheck();">Update</button>
                            <button type="button" class="btn btn-lg btn-lgr-str" onclick="return fnDeleteConfirm();">Delete</button>
                            <a href="/Member/List" class="btn btn-lg btn-lgr-str">Back</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-12 divider-dynamic"></div>
            </div>

        </div>

        <div class="dividewhite6"></div>

    </section>
    <!-- /Feedback Block -->

</div>
